@namespace Hephaestus.Frontend.Application.Layouts
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<!-- Components -->
<RadzenComponents />

<!-- Layout -->
<RadzenLayout class="app-layout">

	<!-- Header -->
	<RadzenHeader>
		<Header Toggle="@SidebarToggle" DisplayLogo="@sidebarExpanded" />
	</RadzenHeader>

	<!-- Sidebar -->
	<RadzenSidebar Responsive="true" @bind-Expanded="@sidebarExpanded" class="app-sidebar sidebar-gradient-menu">
		<SideBar Toggle="@SidebarToggle" />
	</RadzenSidebar>

	<!-- Body -->
	<RadzenBody>
		<RadzenRow class="rz-mx-auto rz-px-4 rz-py-2">
			<RadzenColumn Size="12">
				@Body
			</RadzenColumn>
		</RadzenRow>
	</RadzenBody>

	@if (sidebarExpanded) {
		<div @onclick="@(() => sidebarExpanded = false)" class="app-sidebar-backdrop"></div>
	}

</RadzenLayout>

@code {

	bool sidebarExpanded = true;

	protected override async Task OnInitializedAsync() {

		if (UserService.IsAuthenticated()) {

			var checkStatus = await VersionService.GetServerStatusAsync();
			if (!checkStatus) NotificationService.Notify(NotificationSeverity.Error, AppErrors["0011"], AppErrors["0012"], 15000);

		}

	}

	protected override void OnInitialized() {

		JSRuntime.InvokeVoidAsync("disposeLoader");
		SessionStorage.RemoveItemAsync("ReturnPath");

	}

	private void SidebarToggle() {

		sidebarExpanded = !sidebarExpanded;

	}

}