@page "/authentication/{action}"
@layout LoginLayout
@attribute [AllowAnonymous]
@namespace Hephaestus.Frontend.Application.Pages

<PageTitle>@(AppNames["0008"])</PageTitle>

<RemoteAuthenticatorView Action="@Action" OnLogInSucceeded="LoginSucceeded" OnLogOutSucceeded="LogoutSucceeded">

	<LoggingIn>
		<p>@AppTexts["0040"]</p>
	</LoggingIn>

	<CompletingLoggingIn>
		<p>@AppTexts["0041"]</p>
	</CompletingLoggingIn>

	<LogInFailed>
		<RadzenButton Text="@AppTexts["0042"]" Click="@DoLogin" />
		<p style="padding-top:10px">@AppTexts["0043"]</p>
	</LogInFailed>

	<LogOut>
		<p>@AppTexts["0044"]</p>
	</LogOut>

	<CompletingLogOut>
		<p>@AppTexts["0045"]</p>
	</CompletingLogOut>

	<LogOutFailed>
		<RadzenButton Text="@AppTexts["0046"]" Click="@DoLogin" />
		<p style="padding-top:10px">@AppTexts["0047"]</p>
	</LogOutFailed>

	<LogOutSucceeded>
		<RadzenButton Text="@AppTexts["0048"]" Click="@DoLogin" />
		<p style="padding-top:10px">@AppTexts["0049"]</p>
	</LogOutSucceeded>

</RemoteAuthenticatorView>

@code {

	[Parameter]
	public string? Action { get; set; }
	private string returnPath = string.Empty;

	protected override async Task OnInitializedAsync() {
		returnPath = await SessionStorage.GetItemAsStringAsync("ReturnPath") ?? AppPaths["0012"].Value.Replace("/", string.Empty);
	}

	private void LoginSucceeded(RemoteAuthenticationState state) {
		state.ReturnUrl = returnPath;
	}

	private async Task LogoutSucceeded() {
		await UserService.ClearLocalUserAsync(true, true, true);
	}

	private void DoLogin() {
		NavigationManager.NavigateToLogin("authentication/login");
	}

}