@page "/"
@page "/inicio"
@page "/home"

@namespace Hephaestus.Frontend.Application.Pages

<PageNavigation Code="0100" Title="@($"{AppTexts[VariablesService.SaudationCode()]}, {UserService.CurrentUser.FirstName}.")" Subtitle="@AppTexts["0054"]">

	<RadzenAlert AlertStyle="AlertStyle.Info" Shade="Shade.Lighter" Variant="Variant.Flat" Icon="auto_awesome" Title="Boas-vindas!" class="welcome-banner">
		<p>
			Seja bem-vindo(a) ao novo Sistema de Controle da Produção! Estamos felizes em tê-lo(a) aqui.<br>
			Para navegar entre as diversas áreas do sistema e aproveitar suas funcionalidades, utilize o menu lateral.<br>
			Clique nos botões abaixo para ver um guia rápido ou para conferir tudo que há de novo no SCP 2.0!
		</p>
		<RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Gap="10px">
			<RadzenButton Text="Fazer um Tour" ButtonStyle="ButtonStyle.Info" Shade="Shade.Default" Style="text-wrap: nowrap" />
			<RadzenButton Text="Novidades do Sistema" ButtonStyle="ButtonStyle.Info" Shade="Shade.Lighter" Style="text-wrap: nowrap" />
		</RadzenStack>
	</RadzenAlert>

	<PageNavigationGroup Text="@AppTexts["0059"]">
		<PageNavigationItem Code="0130" />
		<PageNavigationItem Code="0110" />
		<PageNavigationItem Code="0120" />
		<PageNavigationItem Code="0150" />
	</PageNavigationGroup>

	<PageNavigationGroup Text="@AppNames["1000"]">
		<PageNavigationItem Code="1100" />
		<PageNavigationItem Code="1200" />
		<PageNavigationItem Code="1300" />
		<PageNavigationItem Code="1400" />
		<PageNavigationItem Code="1500" />
		<PageNavigationItem Code="1600" />
		<PageNavigationItem Code="1700" />
		<PageNavigationItem Code="1800" />
		<PageNavigationItem Code="1900" />
	</PageNavigationGroup>

	<PageNavigationGroup Text="@AppNames["2000"]">
		<PageNavigationItem Code="2100" />
		<PageNavigationItem Code="2200" />
		<PageNavigationItem Code="2400" />
		<PageNavigationItem Code="2600" />
	</PageNavigationGroup>

</PageNavigation>