<div style="display:flex; align-items:center; justify-content:center;">
	<lord-icon src=@("lordicon" + @Icon) trigger="@Trigger" state="@State" intro="@Intro" outro="@Outro" delay="@Delay" wait="@Wait" repeats="@Repeats" loading="@Loading" stroke="@Stroke" style="width:@Size;height:@Size;" target="@Target" title="@Title" id="@Id" class="lord-icon" />
</div>

@code {

	/// <summary>
	/// Path to json icon.
	/// </summary>
	[Parameter, EditorRequired]
	public string Icon { get; set; } = string.Empty;

	/// <summary>
	/// The trigger for the icon's animation.
	/// Accepts: "in", "loop", "morph", "boomerang", "hover", "click", "out".
	/// Can combine some of these as "in-loop-click-out".
	/// </summary>
	[Parameter, EditorRequired]
	public string Trigger { get; set; } = string.Empty;

	/// <summary>
	/// Name of the icon's default animation.
	/// </summary>
	[Parameter, EditorRequired]
	public string State { get; set; } = string.Empty;

	/// <summary>
	/// Name of the icon's intro animation.
	/// Defaults to "in-reveal".
	/// </summary>
	[Parameter]
	public string Intro { get; set; } = "in-reveal";

	/// <summary>
	/// Name of the icon's outro animation.
	/// Defaults to "in-reveal".
	/// </summary>
	[Parameter]
	public string Outro { get; set; } = "in-reveal";

	/// <summary>
	/// The delay (in milliseconds) for the icon's animation to start.
	/// Only affects intro and outro animations.
	/// </summary>
	[Parameter]
	public int Delay { get; set; } = 0;

	/// <summary>
	/// The wait time (in milliseconds) for the icon's animation to start.
	/// Only affects state animation.
	/// </summary>
	[Parameter]
	public int Wait { get; set; } = 0;

	/// <summary>
	/// The number of repeats of the state animation.
	/// Defaults to 0 (infinite repeats).
	/// </summary>
	[Parameter]
	public int Repeats { get; set; } = 0;

	/// <summary>
	/// Loading type of the animation.
	/// Accepts: "lazy" or "interaction".
	/// </summary>
	[Parameter]
	public string Loading { get; set; } = "lazy";

	/// <summary>
	/// Stroke type (line weight) of the icon.
	/// Accepts: "light" "regular" or "bold".
	/// Defaults to "regular".
	/// </summary>
	[Parameter]
	public string Stroke { get; set; } = "regular";

	/// <summary>
	/// Sets the icon size via style tag.
	/// Example: "96px" (default).
	/// </summary>
	[Parameter]
	public string Size { get; set; } = "96px";

	/// <summary>
	/// Sets the animation target element for the trigger.
	/// It's a name of a css class like '.default'.
	/// Defaults to icon itself.
	/// </summary>
	[Parameter]
	public string Target { get; set; } = string.Empty;

	/// <summary>
	/// Sets the 'title' of the icon element.
	/// </summary>
	[Parameter]
	public string Title { get; set; } = string.Empty;

	/// <summary>
	/// Sets the 'id' of the icon element.
	/// </summary>
	[Parameter]
	public string Id { get; set; } = string.Empty;

}