@page "/versao"
@page "/version"
@namespace Hephaestus.Frontend.Pages
@inject VersionService VersionService

<PageTitle>@(AppTexts["0025"])</PageTitle>
<RadzenText Text="@AppTexts["0025"]" TextStyle="Radzen.Blazor.TextStyle.DisplayH3" TagName="Radzen.Blazor.TagName.Auto"></RadzenText>

@if (LocalVersion != null) {
	<h3>Local Version</h3>
	<p>Id: @LocalVersion.Build</p>
	<p>Name: @LocalVersion.Name</p>
}

<br />

@if (ServerVersion != null) {
	<h3>Server Version</h3>
	<p>Id: @ServerVersion.Build</p>
	<p>Name: @ServerVersion.Name</p>
}

@code {

	private Architect.Models.Version? ServerVersion;
	private Architect.Models.Version? LocalVersion;

	protected override async Task OnInitializedAsync() {

		try {

			LocalVersion = VersionService.GetLocalVersion();
			ServerVersion = await VersionService.GetServerVersionAsync();

		} catch (AccessTokenNotAvailableException exception) {

			exception.Redirect();

		}

	}

}